:root {
    /* Colors */
    --c-oranje: #C87100 ;
    --c-blauw: hsla(223, 61%, 55%, 1);
    --c-zwart: #000;
    --c-donkerblauw: rgb(54, 84, 160);
    --c-donkeroranje: rgb(151, 86, 0);

    --c-primary: var(--c-oranje);
    --c-secondary: var(--c-blauw);
    --c-ternary: var(--c-zwart);

    /* Fonts */
    --f-body: 'Roboto';
    --f-title: 'Lobster';
    --f-header: 'Roboto Slab';

    --unit: .5rem;

    /* Font Sizes */

    --fs-large: 79px;
    --fs-medium: 24px;
    --fs-small: 15px;
}
